In [1]:
import pandas as pd
import numpy as np
import importlib
import warnings

import make_data

importlib.reload(make_data)
warnings.filterwarnings("ignore")

In [10]:
bat = pd.read_csv("../Data/all_season_batting_card.csv")
bowl = pd.read_csv("../Data/all_season_bowling_card.csv")
full = pd.read_csv("../Data/all_season_details.csv")

In [11]:
df = make_data.make_data(bat, bowl, full)
df = df.dropna()
df.head()

,season,match_id,batsman1_name,bowler1_name,home_team,away_team,current_innings,runs,ball,venue,...,avg_noballs,total_overs,total_maidens,total_conceded,total_wickets,total_dots,total_fours_c,total_sixes_c,total_wides,total_noballs
0,2008,335982,Ashley Noffke,Ajit Agarkar,RCB,KKR,RCB,2,6,"M.Chinnaswamy Stadium, Bengaluru",...,0.047619,130.2,0,1151,29,273,113,41,36,2
16,2008,335982,Balachandra Akhil,Ajit Agarkar,RCB,KKR,RCB,0,2,"M.Chinnaswamy Stadium, Bengaluru",...,0.047619,130.2,0,1151,29,273,113,41,36,2
32,2008,335982,Cameron White,Ajit Agarkar,RCB,KKR,RCB,3,6,"M.Chinnaswamy Stadium, Bengaluru",...,0.047619,130.2,0,1151,29,273,113,41,36,2
48,2011,501223,David Hussey,Ajit Agarkar,DC,KXIP,KXIP,4,2,"Arun Jaitley Stadium, Delhi",...,0.047619,130.2,0,1151,29,273,113,41,36,2
62,2008,335982,Jacques Kallis,Ajit Agarkar,RCB,KKR,RCB,7,4,"M.Chinnaswamy Stadium, Bengaluru",...,0.047619,130.2,0,1151,29,273,113,41,36,2

In [12]:
curr_details = pd.read_csv("../Data/season_details.csv")

In [13]:
len(curr_details["match_id"].unique())

34

In [14]:
curr_details.columns == full.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [33]:
rr = [
    "Yashasvi Jaiswal",
    "Jos Buttler",
    "Sanju Samson",
    "Devdutt Padikkal",
    "Ravichandran Ashwin",
    "Shimron Hetmyer",
    "Riyan Parag",
    "Trent Boult",
    "Prasidh Krishna",
    "Yuzvendra Chahal",
    "Obed McCoy"
]

rcb = [
    "Virat Kohli",
    "Faf du Plessis",
    "Glenn Maxwell",
    "Dinesh Karthik",
    "Rajat Patidar",
    "Mahipal Lomror",
    "Shahbaz Ahmed",
    "Harshal Patel",
    "Wanindu Hasaranga de Silva",
    "Josh Hazlewood",
    "Siddarth Kaul"
]

In [34]:
for player in rcb:
    if (df["batsman1_name"].isin([player])).sum() < 1:
        print(player)

Josh Hazlewood

In [35]:
df.columns

Index(['season', 'match_id', 'batsman1_name', 'bowler1_name', 'home_team',
       'away_team', 'current_innings', 'runs', 'ball', 'venue', 'city',
       'country', 'batsman_name', 'avg_runs', 'avg_bf', 'avg_fours',
       'avg_sixes', 'avg_sr', 'total_runs', 'total_bf', 'total_fours',
       'total_sixes', 'bowler_name', 'avg_maidens', 'avg_conceded',
       'avg_wickets', 'avg_er', 'avg_dots', 'avg_fours_c', 'avg_sixes_c',
       'avg_wides', 'avg_noballs', 'total_overs', 'total_maidens',
       'total_conceded', 'total_wickets', 'total_dots', 'total_fours_c',
       'total_sixes_c', 'total_wides', 'total_noballs'],
      dtype='object')